<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-8">
            <h2 class="font-weight-bold">
                Login System
            <h2>
            <h5>Log in for the existing user</h5>
            <h6>To test the form use these credentials:
            <br />email: login-form@untari.com password: admin123</h6>
        </div>
        <form action="/route/login" method="POST" class="pt-3">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="email">
            </div>
            <br />
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </form>
    </div>
</div>

<%- include('footer') -%>
