<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="container -5 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">
                Login System
            <h2>
            <span>Log in for the existing user</span>
        </div>
    </div>
</div>

<%- include('footer') -%>
