
.center-div{
    padding-top: 0;
}

.btn.btn-success{
    margin-top: 1em;
    padding: 10px;
}
form{
    padding: 0 3em;
}

body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
#error{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
h3{
    color: #707b7d;
}
iframe{
    border: 2px solid #707b7d;
    border-radius: 9px;
}
