body{
    font-family: 'Open Sans', sans-serif;
    background: #6359CE;
    background: -moz-linear-gradient(left, #6359CE 0%, #A459A4 58%, #75AFC5 100%);
    background: -webkit-linear-gradient(left, #6359CE 0%, #A459A4 58%, #75AFC5 100%);
    background: linear-gradient(to right, #6359CE 0%, #A459A4 58%, #75AFC5 100%);
}

.center-div{
    padding-top: 5%;
}

.btn.btn-success{
    margin-top: 1em;
    padding: 10px;
}
form{
    padding: 0 3em;
}

