
.center-div{
    padding-top: 0;
}

.btn.btn-success{
    margin-top: 1em;
    padding: 10px;
}
form{
    padding: 0 3em;
}

body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.success{
    color: #4F8A10;
    font-size: 20px;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
    margin-left: 39%;
    padding: 15px 15px 5px 50px;
    background-repeat: no-repeat;
    background-position: 25%;
    
}
.error-msg{
    color: #de4355;
    font-size: 20px;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    margin-left: 39%;
    padding: 15px 15px 5px 50px;
    background-repeat: no-repeat;
    background-position: 27%;
}
#error{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.msg-404{
    font-size: 20px;
    color: #de4355;
    background-image: url('https://static.thenounproject.com/png/2568506-200.png');
    margin-left: 35%;
    padding: 40px 20px 25px 50px;
    background-repeat: no-repeat;
    background-position: 33%;
    background-size: 4%;
}

#error-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

iframe{
    border: 2px solid #707b7d;
    border-radius: 9px;
}
